@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0
}

body {
    color: #000;
    background-color: #FBFBFF;
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container, .container-resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: calc(100vh - 100px);
}

.container-resposta p {
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    border-bottom: 3px solid #3D2645;
    margin-top: 50px;
}

.navbar a {
    text-decoration: none;
    color: #3D2645;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 0 8px 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px 15px 0px 0px;
}

.navbar a:hover {
    background-color: #825691;
    color: #fff;
}

#active {
    background-color: #3D2645;
    color: #fff;
}

p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
  
label {
    color: black;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 14px;
}
  
input[type="text"], input[type="number"]{
    background-color: #EDECF2;
    border-radius: 10px;
    border: none;
    height: 40px;

    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-indent: 17px;
    border: 1.8px solid #EDECF2;
    transition: 0.3s;
}
  
input:focus{
    outline: none;
    border: 1.8px solid #832161;
    background-color: #FBFBFF;
}
  
input[type="submit"], button {
    background-color: #832161;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    margin-top: 20px;
}
  
input[type="submit"]:hover, button:hover {
    width: 50%;
    background-color: #962c71;
}

input::placeholder {
    color: #A69DAD;
}

button:hover {
    background-color: #962c71;
    width: 100px;
}

button{
    background-color: #832161;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    width: 70px;
}