@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat+Alternates:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

p {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
}

h1 {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    text-align: left;
    color: #3B66AB;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
  
label {
    color: black;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 14px;
}
  
input[type="number"]{
    background-color: #EDECF2;
    border: none;
    height: 35px;

    color: #000;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-indent: 17px;
    border: 1.8px solid #EDECF2;
    transition: 0.3s;
}
  
input:focus{
    outline: none;
    border: 1.8px solid #3B66AB;
    background-color: #fff;
}
  
input[type="submit"], button {
    background-color: #3B66AB;
    color: #fff;
    border: none;
    height: 35px;
    width: 200%;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
}
  
input[type="submit"]:hover, button:hover {
    background-color: #4174c5;
}

input::placeholder {
    color: #A69DAD;
}

button:hover {
    background-color: #4174c5;
    width: 100px;
}

button{
    background-color: #3B66AB;
    color: #fff;
    border: none;
    height: 35px;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    width: 70px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
}

.result h1{
    text-align: center;
}

.result button {
    width: 220px;
    font-size: 12px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}